#add1{
    background-color: blue;
}
h5 {
    color:white;
}
#add2{
    background-color: green;
}

h2 {
    margin-left: 40%;
}
#form2{
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
#form1{
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.dec {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10%;
    margin-right: 10%;
}

/*.span{*/
/*    color: white;*/
/*    background-color: #4CAF50; !* Green background *!*/
/*    font-size: 16px;*/
/*    padding: 5px 10px;*/
/*    border-radius: 4px;*/
/*    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);*/

/*}*/
@media (max-width: 600px) and (min-width: 480px) {
    .container {
        max-width: 90%;
        margin: 30px auto;
    }
}
.logout-button {
    position:absolute;
    top:20px;
    right:20px;
    background-color:black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor:pointer;
    font-size: 16px;

}
h4{
    text-align: center;
}


